<!-- app/views/products/show.html.erb -->

<%# This is an Embedded Ruby (ERB) tag that outputs the value of the "title" attribute of the "@product" instance variable. The "@product" variable is set in the "show" action of the "ProductsController" and contains the details of the specific "product" being viewed. %>
<h1><%= @product.title %></h1>

<%# Line 8 was added during Part 2: Step 8. %>
<%# This ERB tag outputs the "name" of the "category" associated with the "@product" instance variable. %>
<p><strong>Category:</strong> <%= @product.category.name %></p>

<%# This ERB tag outputs the "price" attribute of the "@product" instance variable, formatted as currency using the "number_to_currency" helper method provided by Rails. This ensures the price is displayed in a proper currency format (e.g., $10.50). %>
<p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
<%# This ERB tag outputs the value of the "stock_quantity" attribute of the "@product" instance variable. %>
<p><strong>Stock Quantity:</strong> <%= @product.stock_quantity %></p>
<%# This ERB tag outputs the value of the "description" attribute of the "@product" instance variable. %>
<p><strong>Description:</strong> <%= @product.description %></p>

<%# This ERB tag uses the "link_to" helper method to generate an HTML link. The text of the link is "Back to Products", and the link points to the "products_path", which is the URL for the "index" action of the "ProductsController". Clicking this link will take the user back to the list of all products. %>
<%= link_to 'Back to Products', products_path %>
